* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', serif;
}

body {
    /*background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/naukma3.jpg);*/
    background-color: #fff;
    background-size: cover;
    height: 100vh;
}

.flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.register-form {
    width: 350px;
    height: 300px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    margin-top: 15px;
    /*background-color: rgba(235, 235, 235, 0.3);*/
    border-width: 0 0 3px 0;
    border-color: #cdcdcd;
    color: #181818;
    outline: none;
    padding: 16px 15px;
    font-size: 16px;
}

input[type="text"]::placeholder{
    color: #181818;
}

input[type="text"]:focus{
    border-color: blue;
}

input[type="radio"] {
    margin-top: 25px;
    margin-left: 15px;
}

input#teacher {
    margin-left: 50px;
}

label {
    color: #181818;
    font-size: 18px;
    margin-left: 10px;
}

.round-btn {
    width: 70%;
    margin-top: 15px;
    border-radius: 25px;
    padding: 16px 15px;
    font-size: 16px;
    outline: none;
    border: 0;
    background-color: blue;
    color: #fff;
    /* transition: all 0.1s linear; */
}

.round-btn:hover {
    border: 2px solid whitesmoke;
}

/* ************** NAVBAR ************** */
.nav-wrapper {
    height: 60px;
}

#navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(47, 47, 47, 0.25);
}

.navbar-content {
    height: 100%;
    margin: 0 auto;
    padding: 0 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

}

.navbar-menu, .register-menu {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: 'PS Commons Bold', sans-serif;
}

nav {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.navbar-menu a, .register-menu a {
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: #0e0e0e;
    font-weight: bold;
    text-decoration: none;

}

nav a{
    transition: all .1s linear;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
    text-underline-offset: 7px;
    /*background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);*/
}

#user-name {
    padding: 0 25px;
}

h4 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

/* HOME PAGE */
.wallet-info {
    min-height: 400px;
    width: 500px;
    text-align: center;
}

.wallet-info h3 {
    margin-bottom: 20px;
}

.wallet-table {
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
}